@CHARSET "ISO-8859-1";

@media only screen and (min-width: 993px) {
	.container {
		width: 85%;
		padding-bottom: 20px;
	}
}

 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
     height: 100%;
 }

header, footer {
/* 	padding-left: 250px; */
}

@media only screen and (max-width : 992px) {
	header,  footer {
		padding-left: 0;
	}
}


.codediv {
	background-color: #f0f8ff;
	padding-left: 5px;
	margin: 5px;
	border: 1px inset;
	white-space: pre-wrap;
}

.bgcolor {
	background-color: #66bb6a!important;
	/* background-color: #008080!important; */
}

table.fullbordered>thead>tr, table.fullbordered>tbody>tr {
	border: 1px solid #d0d0d0;
}

.comment {
	background-color: #d3d3d3;
	padding: 10px;
}

.btn {
	background-color: #0089ec;
}
.filterTypes {
	width: 200px;
}

.btn:HOVER {
	background-color: #0089ec;
	opacity: .8;
}

.btn:FOCUS {
	background-color: #0089ec;
}

.card-150h{
	height: 150px;
	cursor: pointer;
}